.container {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.linkItem {
  padding: 0 15px;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: blue;
  border: 2px dotted #000;
}

.linkItem a {
  color: #000;
  text-decoration: none;
}

.linkItem a:hover {
  color: #fff;
  transition: all ease 900ms;
}

.linkActive {
  background-color: red;
  text-decoration: none;
}

.linkActive a {
  color: #fff;
}